*,
::after,
::before {
    margin: 0;
}

body {
    background-color: #2F4F30;
    color: white;
    min-height: 100vh;
}

.titulo {
    background-color: black;
    color: white;
    padding: 20px 0;
    font-size: 25px;
}

.carta {
    width: 150px;
    transform: translateX(100px);
    margin-left: -75px;
}

#jugador-cartas,
#computadora-cartas {
    min-height: 200px;
}


@media screen and (max-width: 768px) {

    .carta {
        transform: translateX(50px);
    }
    
}